@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top: 20px; background-color: white; color: #5cb85c;">
    <h1>JobFinder,</h1>
    <p class="lead" style="font-size: 30px;">A place where you are one step away from your dream job or recruiting the right candidate!</p>
</div>


<h2 style="margin-top: 60px; color: #5cb85c; text-align: center; font-size: 40px; margin-bottom: 40px;">Looking for a job?</h2>
<div class="row text-center">
    <div class="col-md-4" style="">
        <p style="margin: 10px; background-color: #5cb85c; color: white; font-size: 50px; padding: 10px; border-radius: 35px;">
            Create an account
        </p>
    </div>
    <div class="col-md-4" style="">
        <p style="margin: 10px; background-color: #5cb85c; color: white; font-size: 50px; padding: 10px; border-radius: 35px;">
            Search for jobs
        </p>
    </div>
    <div class="col-md-4" style="">
        <p style="margin: 10px; background-color: #5cb85c; color: white; font-size: 50px; padding: 10px; border-radius: 35px;">
            Apply to jobs you like
        </p>
    </div>
</div>

<h2 style="margin-top: 90px; color: #5cb85c; text-align: center; font-size: 40px; margin-bottom: 40px; ">Looking to hire?</h2>
<div class="row  text-center">
    <div class="col-md-4" style="">
        <p style="margin: 10px; background-color: #5cb85c; color: white; font-size: 50px; padding: 10px; border-radius: 35px;">
            Post a vacancy
        </p>
    </div>
    <div class="col-md-4" style="">
        <p style="margin: 10px; background-color: #5cb85c; color: white; font-size: 50px; padding: 10px; border-radius: 35px;">
            See who applied
        </p>
    </div>
    <div class="col-md-4" style="">
        <p style="margin: 10px; background-color: #5cb85c; color: white; font-size: 50px; padding: 10px; border-radius: 35px;">
            Contact the applicants
        </p>
    </div>
</div>